body {
    background-color: #8899aa;
    font-family: Arial, Helvetica, sans-serif;
}
#content{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}
header{
    margin-bottom: 50px;
}
footer{
    margin-top: 50px;
}
footer *{
    display: inline-block;
}
footer > div:last-child{
    float: right;
}
#logo{
    width: 70%;
    margin-left: 15%;
}
nav > *{
    display: inline-block;
}
nav > a:last-child{
    float: right;
}
nav, footer{
    color: #dddddd;
    background-color: #222222;
    border-radius: 5px; 
}
nav a, footer a{
    color: white;
    font-weight: bold;
    text-decoration: none;
}
nav a, footer div:first-child, footer > div > a{
    padding: 10px;
}
a:hover{
    background-color: #dddddd;
}
nav > a:hover:first-child{
    border-radius: 5px 0px 0px 5px;
}
a:hover:last-child{
    border-radius: 0px 5px 5px 0px;
}
#container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.dish{
    background-color: #eeeeee;
    border-radius: 10px;
    width: 300px;
    min-height: 360px;
    margin: 10px;
    padding: 10px;
    text-align: center;
}
.image-container > img{
    width: 280px;
}
.dish > *{
}
.dish > a{
    background-color: #00aaff;
    border-radius: 5px;
    color:#eeeeee;
    text-decoration: none;
    font-weight: bold;
    padding: 10px;
}
.info{
    width: 450px;
    display: none;
    position: absolute;
    background-color: #cccccc;
    border-radius: 10px;
    translate: -17% -65%;
}
.image-container:hover > .info{
    display: block;
}
.info > img{
    width: 450px;
    border-radius: 10px 10px 0px 0px;
}
nav > div > a{
    display: inline-block;
}
nav .dropdown-content{
    background-color: #222222;
    color: #dddddd;
    position: absolute;
    display: none;
}
.dropdown-container:hover > .dropdown-content{
    display: block;
}
nav .dropdown-content a:last-child, nav .dropdown-content{
    border-radius: 0px 0px 5px 5px;
}
.dropdown-content > a{
    display: block;
    text-align: center;
}
@media (max-width: 750px){
   #content{
       width: 100%;
   } 
    #container{
    }
    .dish{
        margin-left: 100px;
        margin-right: 100px;
    }
}