body {
    background-color: #8899aa;
}
body > div{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}
header{
    padding-bottom: 50px;
}
footer{
    padding-top: 50px;
}
body div img{
    width: 100%;
}
footer > div{
    float: right;
}
