body {
    background-color: #8899aa;
    font-family: Helvetica;
}

header{
    margin: 0px 0px 50px 0px;
}

header nav{
    background-color:#222222;
    border-radius: 5px;
}

header nav a{
    display: inline-block;
    color: #dddddd;
    font-weight: bold;
    text-decoration: none;
    padding: 10px;
}

header nav a:last-child{
    float: right;
}

#content {
    display: block;
    margin: auto;
    width: 60%;
}

#logo {
    width: 70%;
    display: block;
    margin: auto;
}

footer{
    margin: 50px 0px 0px 0px;
    background-color:#222222;
    border-radius: 5px;
    color: #dddddd;
}

footer div{
    display: inline-block;
}

footer div:first-child{
    padding: 10px;
}

footer div:last-child{
    float: right;
}

footer div a{
    display: inline-block;
    font-weight: bold;
    color: #dddddd;
    text-decoration: none;
    padding: 10px;
}

a:hover{
    background-color:#aaaaaa;
}

a:last-child{
    border-radius: 0px 5px 5px 0px;
}

nav > a:first-child{
    border-radius: 5px 0px 0px 5px;
}

.dropdown-content{
    display: none;
    background-color: #222222;
    border-radius: 0px 0px 5px 5px;
    position: absolute;
}

.dropdown{
    display: inline-block;
}

.dropdown:hover .dropdown-content{
    display: block;
}

.dropdown-content a{
    display: block;
    text-align: center;
}

.dropdown-content a:last-child{
    float: none;
    border-radius: 0px 0px 5px 5px;
}

#container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.dish{
    background-color: #eeeeee;
    border-radius: 10px;
    min-height: 360px;
    width: 300px;
    margin: 10px;
    padding: 10px;
    text-align: center;
}

.dish h2{
    text-align: center;
}

.dish img{
    width: 280px;
    margin: auto;
}

.dish a{
    background-color: #00aaff;
    color: #eeeeee;
    border-radius: 5px;
    padding: 10px;
    text-decoration: none;
    text-weight: bold;
}

.info{
    display: none;
    width: 450px;
    background-color: #cccccc;
    border-radius: 10px;
    position: absolute;
    transform: translate(-17%, -65%);
}
/*
.image-container:hover .info{
    display: block;
}
*/
.info img{
    display: block;
    width: 450px;
    border-radius: 10px 10px 0px 0px;
}

@media screen and (max-width: 750px) {
    /*
    Właściwości w tym bloku zostaną zastosowane tylko jeżeli
    ekran posiada rozdzielczość o maksymalnej szerokościi 750px
     */

    #content{
        width: 100%;
    }

    #container{
        flex-direction: column;
        align-items: center;
    }

}

#formularz-logowania{
    padding: 5px;
}

#formularz-logowania label{
    display: block;
    color: #dddddd;
    text-align: center;
}

#formularz-logowania input{
    display: block;
}

#logo{
    height: 300px;
}